.formulario1{
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 60%;
    padding: 30px;

    border-radius: 10px;
}

label{
    margin-bottom: 20px;
}

.radio {
    margin-top: 5px;
}

.question{
    margin-bottom: 10px;
}