.header {
  background-color: #263238;
  padding: 20px;
  min-width: 100vw;
  height: 150px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.header h2{
  color: white
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .items{
  display: flex;
  text-transform: none;
  align-items: center;
  justify-content: space-between;
  
}

li{
  font-size: 18px;
  cursor: pointer;
  list-style: none;
  color: white;
}

li a {
  text-decoration: none;
  color: white;
}

.items li{
  padding: 0 10px;
}


.login_off {
  display: flex;
}

.login_off li,
.login_on button{
  background-color: #a3ffbf;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: none;
}

.login_off li a {
  color: black;
}

.menu li:hover{
  padding: 10px;
  background: rgba(183, 179, 179, 0.128);
}

.login_off li:hover,
.login_on button:hover{
  background-color: #a3ffbfeb;
}

.menu li:hover,
.login_off li:hover{
  transition: 100ms;
}


.login_on{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_on div{
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.login_on div img{
  width: 50px;
}

.nomeUser,
.xp{
  color: white;
}

.campo_User:hover{
  background: rgba(183, 179, 179, 0.128);
  border-radius: 30px;
}