.header {
  background-color: rgb(80, 184, 190);
  padding: 20px;
  min-width: 100vw;
  height: 150px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.header h2{
  color: white
}
  
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .items{
  display: flex;
  text-transform: none;
  align-items: center;
  justify-content: space-between;
  
}

li{
  font-size: 18px;
  cursor: pointer;
  list-style: none;
  color: white;
}

.items li{
  padding: 0 10px;
}

.login_off{
  display: flex;
}


.login_off li{
  border: 1px solid white;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.login_on {
  display: flex;
  align-items: center;
  width: 15%;
}

.login_on .dataUser{
  margin-right: 20px;
}

.buttonLogout li:hover{
  text-align: center;
  background: rgba(0, 0, 0, 0.311);
  width: 50px;
  border-radius: 30px;
}

.login_on .dataUser .xp{
  font-size: 18px;
}

.login_on .photoUser {
  width: 50px;
  height: 50px;
  border-radius: 60px;
}

li a {
  text-decoration: none;
  color: white;
}

.menu li:hover,
.login_off li:hover{
  padding: 10px;
  background: rgba(0, 0, 0, 0.311);
  transition: 100ms;
  border-radius: 4px;
}