.nameUser{
    font-size: 1.4rem;
}

.box_home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.welcome{
    margin-bottom: 10px;
    border: 5px solid white;
    border-radius: 30px;
    padding: 20px;
    color: white;
}

.box_home a{
    text-decoration: none;
    color: black;
}


.facaLogin,
.facaCadastro {
    background-color: #a3ffbf;
    border-radius: 30px;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
}
.facaLogin:hover,
.facaCadastro:hover{
    background-color: #a3ffbfeb;
}

.photoHand {
    width: 30px;
}

.jornadasHome {
    display: flex;
}

.jornadasHome a{
    margin: 10px;
}