.box-backend,
.box-frontend{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5734a4;
    padding: 20px;
    height: 350px;
    width: 350px;
    border-radius: 50px;
    cursor: pointer;
}

.box-backend:hover,
.box-frontend:hover{
    background: #492c8a;
}

.jornadas{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 100%;
}

.jornadasBackFront{
    font-size: 35px;
}

.jornadas a{
    font-size: 35px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}