.subtopicos ul{
    margin-bottom: 20px;
}

.subtopicos a{
    text-decoration: none;
}

.subtopicos li{
    margin-bottom: 8px;
    padding: 3px;
}

.subtopicos li:hover{
    background: rgba(0, 0, 0, 0.311);
    border-radius: 20px;
    transition: 100ms;
}