.materiais{
    margin-top: 20px;
}

.materiais ul{
    margin-bottom: 20px;
}

.materiais a{
    text-decoration: none;
}

.conclusaoSubtopico {
    display: flex;
    justify-content: center;
}

.buttonConcluido{
    margin-left: 10px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}

.buttonConcluido:hover{
    background-color: rgb(81, 215, 81);
    transition: 100ms;
}

.descricao_materiais{
    background-color: white;
}