.jornadas{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.jornadas h2{
    color: rgb(61, 223, 180);
    text-transform: uppercase;
}

.jornadas li{
    font-style: italic;
    margin-bottom: 5px;
}

.backend,
.frontend{
    background-color: rgb(16, 103, 127);
    padding: 20px;
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

