.subtopicos {
    background-color: white;
    border-radius: 30px;

    width: 80%;
    margin: auto;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    text-align: left;

}

.checkbox{
    display: flex;
    flex-direction: column;
}

.dicas{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dicas label a{
    margin: 0px 0px 20px;
    text-decoration: none;
    color: black;
    background-color: rgb(80, 184, 190);
    padding: 2px;
    border-radius: 3px;
}