/* STYLES QUE SÃO UTILIZADOS EM MAIS DE UMA "PAGINA" DE JORNADA*/
.topicos,
.subtopicos,
.materiais {
    background: #5734a4;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100%;
    max-width: 60%;
    border-radius: 10px;
    padding: 10px;
}

.h2_anotacoes{
    margin-top: 20px;
}

.topicoConcluido,
.subtopicoConcluido {
    display: block;
    justify-self: end;
    text-align: right;
    
}

.topicoConcluido span,
.subtopicoConcluido span{
    color: green;
    background-color: white;
    padding: 2px;
    border-radius: 50px;
}




.field_anotacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

.field_anotacoes .campo_anotacao{
    height: 100px;
}

.field_anotacoes button{
    height: 10px;
}
.field_anotacoes .campo_anotacao,
.field_anotacoes button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    resize: none;
}


.field_anotacoes button:hover{
    cursor: pointer;
    transition: 0.6s;
    background-color: #5734a4;
    color: white;
}


.topicos li,
.materiais li,
.subtopicos li{
    margin-bottom: 2px;
    padding: 5px 10px;
}

.topicos li:hover,
.materiais li:hover,
.subtopicos li:hover{
    padding: 5px 10px;
    background: rgba(183, 179, 179, 0.128);
}