.container{
    background-color: rgb(55, 71, 79);
}

.content{
    
    background-color: #161b22;
  
    width: 70%;
    min-height: 100vh;
  
    margin: 0 auto;
    padding: 20px 40px;
  
    text-align: center;
}
  
.content h2 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.btn_voltar {
    display: block;
    position: absolute;
    width: 50px;
    margin: 5px 20px;
    cursor: pointer;
}

.material-symbols-outlined{
    background: #5734a4;
    font-size: 45px;
    border-radius: 25px;
    color:white;
}

.material-symbols-outlined:hover{
    transition: 1s;
    background-color: white;
    color: #5734a4;
}