.sobre,
.sobrePontuacao {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    border: 10px solid #5734a4;
    border-radius: 20px;
    padding: 10px;
}

.sobre{
    border: 10px solid #5734a4;
}

.sobrePontuacao{
    border: 10px solid #a3ffbf;
}


.sobre h2
{
    color: #a3ffbf;
}
.sobrePontuacao h2{
    color: #5734a4;
}

.sobre p,
.sobrePontuacao p{
    font-size: 1.3rem;
    line-height: 35px;
    color: white;
}

 .social-medias ul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

 .social-medias li,
 .social-medias li a
{
    padding: 10px;
    list-style: none;
}

 .social-medias li a{
    font-size: 2rem;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

 .social-medias li a:hover{
    list-style: none;
    transition: 0.9s;
    font-size: 2.5rem;
    height: 10px;
    color: white;
    background-color: black;
}

.sobre .contato{
    margin-top: 20px;
}

