.container_ranking > header > h1 {
    color: rgb(16, 103, 127);
    font-style: italic;
}

.container_ranking > header {
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

.container_ranking > header h1 {
  font-weight: 600;
	font-size: 3em;
	margin: 0;
}

.wrapper {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 2000px;
	overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

th {
    background-color: rgb(80, 184, 190);
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td, th {
    padding: 1em 1.5em;
    text-align: left;
}

tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(50,98,149,.3);
}

td.rank {
	text-transform: capitalize;
}


#first span{
    font-size: 30px;
    margin-left: 10px;
    color: gold;
    background-color: #8f8c2c;
}

#second span{
    font-size: 30px;
    margin-left: 10px;
    color: #c0c0c0;
    background-color: #636262;
}

#third span{
    font-size: 30px;
    margin-left: 10px;
    color: rgba(135, 106, 46, 0.76);
    background-color: rgba(135, 106, 46, 0.76);
}